{% extends "base.html" %}

{% block content %}
    <h1> Make an offer for {{ property.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex gap-2 mt-3">
            <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            <button type="submit" class="btn btn-primary">Submit Offer</button>
        </div>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info mt-3">{{ message }}</div>
        {% endfor %}
    {% endif %}

{% endblock %}