{% extends "base.html" %}

{% block content %}
    <h1> Make an offer for {{ property.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="offer_price">Offer Price:</label><br>
        <input type="text" id="offer_price" name="offer_price"><br><br>

        <label for="expiration_date">Expiration Date:</label><br>
        <input type="data" id="expiration_date" name="expiration_date"><br><br>

        <button type="submit">Submit Offer</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <a href="javascript:history.back()">Go Back</a>
{% endblock %}