{% extends "base.html" %}
{% block content %}

<div class="page-wrapper">
    <div class="property-item">
        <h3>{{ property.name }}</h3>

        <div class="property-gallery">
            {% for img in property.property_image_set.all %}
                <div class="property-image" style="background-image: url({{ img.image }})"></div>
            {% endfor %}
        </div>

        <p><strong>Type:</strong> {{ property.type }}</p>
        <p><strong>Price:</strong> {{ property.price }} ISK</p>
        <p><strong>Rooms:</strong> {{ property.nr_rooms }}</p>
        <p><strong>Size:</strong> {{ property.nr_square_meters }} m²</p>
        <p><strong>Seller:</strong> {{ property.seller.name }}</p>
        <a href="{% url 'seller:detail' id=property.seller.id %}">View seller profile</a><br>


        {% if property.on_sale %}
            <div class="badge red">ON SALE!</div>
        {% endif %}

        <p>{{ property.description }}</p>
    ta
        <div class="d-flex gap-2 mt-3">
            <a href="javascript:history.back()" class="btn btn-secondary mt-2">Go back</a>
            {% if property.on_sale %}
                <a href="{% url 'Offer:make_an_offer' property.id %}" class="btn btn-primary">Make an offer</a>
                {% comment %}
                <a href="{% url 'property:make_an_offer' id=property.id %}" class="btn btn-primary">Make an offer</a>
                {% endcomment %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

