{% extends "base.html" %}

{% block content %}
    <div class="page-wrapper">
        <div class="property-container grid-3">
            {% for property in properties %}
                <div class="property-item">
                    <h3>{{property.name}}</h3>
                    <div class="property-image" style="background-image: url({{ property.image }})"></div>
                    <div class="property-type">{{ property.type }}</div>
                        <div class="property-price">{{ property.price }}</div>
                    <div class="badge">{{ property.type }}</div>
                    {% if property.on_sale %}
                        <div class="badge red">ON SALE!</div>
                    {% endif %}
                        <a href="{% url 'property:property_by_id' id=property.id %}">More details</a>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
